.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.main__header {
  height: 30px;
  background-color:#262651;
  width: auto;
}
.title_text {
   margin: 0%;
   color:rgba(38, 246, 38, 0.859);
   position: absolute;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
  left: 3%;
}

.help_text {
  position: absolute;
  top: 4px;
  right: 5%;
  color: white;
}

.main_title {
  text-align: center;

}

.tab__two {
  position: absolute;
  left: 50%;
}